@tailwind base;
@tailwind components;
@tailwind utilities;



.container{
    max-width:1400px;
    margin:  auto;
}


.hero-area{
    background-image:url('/assets/img/hero-bg.jpg') ;
    width: full;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
